<div class="container document-list">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#if documents}}
        <p>
          {{description}}
        </p>
        <ul class="list-unstyled" >
        {{#each documents as |document|}}
          <li>
            <a target="_blank" rel="noopener" href={{document.url}}>{{document.title}} <span>{{domain-hint document.url}}</span></a>
          </li>
        {{/each}}
        </ul>
      {{else}}
        <p>
          {{empty}}
        </p>
      {{/if}}
    </div>
  </div>
</div>
