<div class="row licensing-teachers">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    {{#liquid-unless filledIn use="fade"}}
      <div class="page-header">
        <p><strong>Next, let’s make sure you have the right teachers for your school.</strong></p>
      </div>
      <form>
        <div class="select-group">
          <label for="selectAgeRange">Your students’ age range:</label>
          <p class="text-light">All Wildflower schools are mixed ages.</p>
          {{age-range-selector ageRange=model.ageRange onchange=(action (mut model.ageRange)) choices=model.stateRegulation.classrooms}}
        </div>
        {{#liquid-bind model.ageRange use="fade" as |range|}}
          {{#if range}}
            <div class="select-group">
              <label for="selectClassSize">Number of students:</label>
              <p class="text-light">Wildflower recommends classes of 15-20 students.</p>
              {{class-size-selector classSize=model.classSize onchange=(action (mut model.classSize)) choices=(range-breakpoints range) }}
            </div>
          {{/if}}
        {{/liquid-bind}}
      </form>
    {{else}}
      {{licensing-editor model=model}}
      <h3>You’ll need:</h3>
      {{#liquid-bind (obj ageRange=model.ageRange classSize=model.classSize minTeachers=model.minTeachers adminRequirements=model.adminRequirements) use="fade" as |current|}}
        <div class="table-responsive">
          {{teacher-results results=current}}
        </div>
      {{/liquid-bind}}

    {{/liquid-unless}}
  </div>
</div>
{{licensing-pager changeStep=changeStep}}
