<div class="row licensing-teachers">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    {{#liquid-unless filledIn use="fade"}}
      <div class="page-header">
        <p><strong>Next, let’s make sure you have the right teachers for your school.</strong></p>
      </div>
      <form>
        <div class="select-group">
          <label for="selectAgeRange">Your students’ age range:</label>
          <p class="text-light">All Wildflower schools are mixed ages.</p>
          {{age-range-selector ageRange=model.ageRange onchange=(action (mut model.ageRange)) choices=model.stateRegulation.classrooms}}
        </div>
        {{#liquid-bind model.ageRange use="fade" as |range|}}
          {{#if range}}
            <div class="select-group">
              <label for="selectClassSize">Number of students:</label>
              <p class="text-light">Wildflower recommends classes of 15-20 students.</p>
              {{class-size-selector classSize=model.classSize onchange=(action (mut model.classSize)) choices=(range-breakpoints range) }}
            </div>
          {{/if}}
        {{/liquid-bind}}
      </form>
    {{else}}
      <div class="page-header teachers-edit">
        <div class="block">
          With a maximum of {{class-size-selector classSize=model.classSize onchange=(action (mut model.classSize)) choices=(range-breakpoints model.ageRange) }}
        </div>
        <div class="block">
          Who are between the ages of {{age-range-selector ageRange=model.ageRange onchange=(action (mut model.ageRange)) choices=model.stateRegulation.classrooms}}
        </div>
      </div>
      <h3>You’ll need:</h3>
      {{#liquid-bind (obj range=model.ageRange classSize=model.classSize minTeachers=model.minTeachers) use="fade" as |current|}}
        <div class="table-responsive">
          <table class="table table-teachers highlight">
            <tbody>
              {{#if (gt current.classSize current.range.maxGroupSize)}}
                <tr>
                  <td class="text-center"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></td>
                  <td><p>The maximum class size for this age range is <strong>{{current.range.maxGroupSize}}&nbsp;students</strong></p></td>
                </tr>
              {{else}}
                <tr>
                  <td class="text-center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                  <td><p>at least <strong>{{current.minTeachers}}&nbsp;{{maybe-pluralize current.minTeachers "teacher"}}</strong></p>
                  <ul>
                    {{#each current.range.qualifications as |qual|}}
                    <li>
                      {{#if (eq (get qual "0") 1)}}
                        1 who is {{proper-article-for (get qual "1") }} {{get qual "1"}}
                      {{else}}
                        {{get qual "0"}} who are {{maybe-pluralize 2 (get qual "1")}}
                      {{/if}}
                    </li>
                    {{/each}}
                  </ul></td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/liquid-bind}}

      <p id="will-email">We’ll email you the information on this page, but you can also
        <button {{action "print"}} type="button" class="btn btn-default btn-xs">print this page</button>
      </p>
      {{#post-it target="#will-email"}}
      It feels bad to tell people to print their work here, when
      we're on step 2 of 5. They should have confidence that they
      can move forward and they won't lose anything.
      {{/post-it}}


    {{/liquid-unless}}
  </div>
</div>
{{licensing-pager changeStep=changeStep}}
